.address_title {
   font-weight: 400;
   margin-bottom: 7px;
   color: rgb(119, 119, 119);
}
.address_eth {
   letter-spacing: 1px;
   font-weight: 500;
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: auto 50px 1fr;
   /* align-content: flex-start; */
   /* flex-direction: row; */
}

.modal_title {
   display: grid;
   grid-template-columns: 1fr;
   height: 60px;
   align-items: center;
   /* padding-top: 40px; */
   font-weight: 500;
   letter-spacing: 0.7px;
   text-transform: uppercase;
   background-color: #313131;
   /* font-family: Helvetica; */
   /* padding-bottom: 40px; */
   border-top-right-radius: 15px;
   color: #dddddd;
   border-top-left-radius: 15px;
}
.modal_title i{
   font-size: 23px;
   cursor: pointer;
}
.modal_title span{
   margin-left: 30px;
}