.address_title {
   font-weight: 400;
   margin-bottom: 7px;
   color: rgb(119, 119, 119);
}
.address_eth {
   letter-spacing: 1px;
   font-weight: 500;
}
.worker_buttons{
   display: grid;
   grid-template-columns: 150px 1fr;
   column-gap: 20px;
 }
 .change_wrkr_button{
   color: rgb(182, 182, 182);
   font-family: Arial, sans-serif;
   display: inline-block;
   height: 28px;
   border-radius: 5px;
   background-color: #333;
   border: none;
   transition: .3s;
   padding: 0 15px;
 }
 .change_wrkr_button:hover{
   cursor: pointer;
   color: #eee;
   background-color: #444;
 }
 .change_wrkr_button:focus{
   outline: none;
 }
 .change_wrkr_input{
   background-color: black;
   border: 1px solid #333;
   border-radius: 5px;
   height: 30px;
   color: #eee;
   padding: 10px;
 }
 .change_wrkr_input:focus{
   outline: none;
 }
 .change_wrkr_input:hover{
   border: 1px solid #444;
 }
 