.my_address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.my_address span {
  color: grey;
  margin-right: 10px;
  color: grey;
  border-right: 1px solid #565656;
  padding-right: 10px;
}

.my_address_item {
  width: 140px;
  height: 30px;
  /* margin-left: 80px; */
  /* margin-right: 20px;  */
  border-radius: 7px;
  background-color: #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
}
.my_address_item:hover {
  background-color: #333;
  cursor: pointer;
}
.my_ident_icon {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 7px;
  /* background-color: green; */
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}

.my_ident_icon canvas {
  border-radius: 4px;
  margin: auto;
}

.my_address_text {
  letter-spacing: 0.5px;
  display: flex;
  font-size: 12px;
  color: #ddd;
  justify-content: flex-end;
  margin: 0 auto;
}
