.my_header {
   display: grid;
   justify-items: center;
   align-content: center;
   align-items: center;
   margin: 0 auto;
}
.logo {
   grid-area: logo;
   display: grid;
   align-content: center;
   justify-content: center;
   height: 60px;
   width: 100%;
   display: none;
}
.logo span {
   margin-left: 0;
}
.my_address {
   grid-area: address;
   display: grid;
   justify-items: center;
   height: 40px;
   align-content: center;
   width: 180px;
   margin-top: 10px;
}

/* Navigation */
.my_nav {
   padding: 0 20px;
   grid-area: nav;
   height: 80px;
   display: grid;
   grid-auto-flow: column;
   align-items: center;
   grid-template-columns: repeat(3, minmax(120px, 150px));
   column-gap: 10px;
}

.disable {
   color: #555;
   pointer-events: none;
}
.my_nav_item:hover {
   color: #eee;
}


.my_header {
   grid-template-areas:
      'logo'
      'address'
      'nav';
}

@media (min-width: 840px) {
   .my_header {
      max-width: 1400px;
      width: 100%;
      height: 100%;
      grid-template-columns: minmax(200px, 250px) 3fr minmax(200px, 250px);
      align-items: center;
      justify-items: center;
      grid-template-areas: 'logo nav address';
   }
   .logo {
      justify-content: start;

      display: grid;
      align-content: center;
      justify-content: start;
      height: 60px;
      width: 100%;
   }
   .logo span {
      margin: 0 30px;
   }
   .my_address {
      justify-self: end;
      margin-top: 0;
   }
   .my_nav {
      justify-self: center;
   }
}

.logo {
   color: #555;
}
