.my_footer {
  background-color: black;
  height: 50px;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #222;
}
.my_footer_wrapper{
  display: flex;
  align-items: center;
}

.my_footer_item{
  color: rgb(179, 179, 179);
  margin: 0 10px;
}

.my_footer_item span{
  font-weight: 600;
  padding: 2px 7px;
  margin: 0 3px;
  color: rgb(228, 228, 228) !important;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
}