/* .my_address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
} */
.my_address span {
  /* color: grey; */
  /* margin-right: 10px; */
  /* color: grey; */
  /* border-right: 1px solid #565656; */
  /* padding-right: 10px; */
}

.my_address_item_blue {
  width: 140px;
  height: 30px;
  /* margin-left: 80px; */
  /* margin-right: 20px;  */
  border-radius: 7px;
  border: 1px solid #0077FF;
  /* background-color: #0077FF; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.connect_a_wallet{
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .5px;
  /* color: rgb(243, 243, 243); */
  color: #0077FF;
}

.my_address_item_blue:hover {
  background-color: rgb(0, 32, 61);
  cursor: pointer;
  /* color: rgb(0, 47, 255); */
  /* border: 1px solid rgb(0, 47, 255); */
}



.my_ident_icon {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  /* height: 30px; */
  /* width: 30px; */
  /* border-radius: 7px; */
  /* background-color: green; */
  /* display: flex; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}

.my_ident_icon canvas {
  /* border-radius: 4px; */
  /* margin: auto; */
}

.my_address_text {
  letter-spacing: 0.5px;
  display: flex;
  font-size: 12px;
  color: rgb(24, 67, 255);
  justify-content: flex-end;
  margin: 0 auto;
}


