.modal_wrapper {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 99;
   
}
.modal_backdrop {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 100;
   background-color: rgba(43, 43, 43, 0.8);
  
}
.modal_window{
   position: relative;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 350px;
   min-width: 300px;
   width: 600px;
   background-color: #111;
   z-index: 101;
   padding: 40px 80px;
   box-shadow: 0 0 50px rgb(26, 26, 26);
   border-radius: 10px;
}

