
html{
  height: 100%;

}
body {
  /* font-size: 12px; */
  min-width: 500px;
  margin: 0;
  padding: 0;
  height: 100%;
  
  overflow: hidden;

  border-top: 4px solid rgb(46, 67, 190);
  /* height: 100%; */
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: #eee;
  /* transition: 6s; */
}
#root{
  height: 100%;
}

.my_wrapper {
  display: grid;
  flex-direction: column;
  grid-template-rows: auto 1fr 50px;
  height: 100%;
}
.my_content_wrapper{
  display: grid;
  height: 100%;
  /* grid-template-rows: 1fr; */
  align-content: center;
  justify-content: center;
}