
html{
  min-height: 100%;

}
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  /* background-color: indigo; */
  /* height: 100%; */
  font-family: "Open Sans";
  background-color: black;
  color: #eee;
  /* transition: 6s; */
}