.worklock_wrapper{
  display: grid;

  grid-template-columns: minmax(400px, 1000px);
  grid-template-rows: 200px 200px 200px;
  justify-content: center;
  margin-top: 30px;
}
.worklock_timeline{
  /* background-color: indigo; */
  display: grid;
  grid-template-rows: 1fr 2fr;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
}
.worklock_timeline h3{
  border-bottom: 1px solid #444;
  margin: 0;
  padding-bottom: 10px;
}
.timeline_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-bottom: 40px;
}




.worklock_economics{
  display: grid;
  grid-template-rows: 1fr 2fr;
  /* justify-content: center; */
  align-content: center;
  align-items: center;

}
.worklock_participant{
  background-color: lightseagreen;
}
/* repeat(3, minmax(100px, 200px)) */